@* @model System.Web.Mvc.HandleErrorInfo  *@

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Something Went wrong.</h1>
<h2 class="text-danger">Please have a look on these points :</h2>

<h3> May be the Page you are requesting is not exist in the current application</h3>
<h3> Please check your URl First </h3>
<h3> Its an 404 Error</h3>

