
@{
    ViewBag.Title = "PageNotFound";
}


<center style="color:red; background-color: lightgray "><h1>Page Not Found </h1></center>
    
&nbsp;
 
    <center>
<div >
    <img src="~/Content/PageNotFound_404.jpg" />
</div>
    </center>
