
@{
    ViewBag.Title = "SearchDataNotFound";
}

<center style="color:red; background-color: lightgray "><h1>Search Results are Not Found </h1></center>

<div>
    <img src="~/Content/SearchPageNotFound.gif" />
</div>